version: "3.9"

services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  api:
    image: my-spring-app-amd
    ports:
      - "8080:8080"
    environment:
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
    depends_on:
      - redis